<%- include('header')%> <%- include('aside')%>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Advanced Form Elements
      <small>Preview</small>
    </h1>
    <ol class="breadcrumb">
      <li>
        <a href="#"><i class="fa fa-dashboard"></i> Home</a>
      </li>
      <li><a href="#">Forms</a></li>
      <li class="active">Advanced Elements</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-md-6">
        <form
          action="/slide-add"
          method="post"
          enctype="multipart/form-data"
          role="form"
          class="box box-info"
        >
          <div class="box-header">
            <h3 class="box-title">
              <i class="fa fa-plus"></i> Thêm mới sản phẩm
            </h3>
          </div>
          <div class="box-body">
            <!-- Color Picker -->

            <div class="form-group">
              <label>Ảnh slide:</label>
              <input
                type="file"
                onchange="showImage(this)"
                name="image"
                class="form-control my-colorpicker1"
              />
            </div>
            <div class="form-group">
              <div class="form-group">
                <label>Mô tả:</label>
                <textarea
                  class="form-control noi-dung"
                  name="description"
                  rows="3"
                  placeholder="Enter ..."
                ></textarea>
              </div>
            </div>
            <div>
              <a
                href="/slide"
                class="btn btn-primary active"
                aria-current="page"
                ><i class="fa fa-arrow-left"></i> Quay lại</a
              >
              <button class="btn btn-primary" type="submit">
                <i class="fa fa-save"></i> Lưu
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-4">
        <a href="" class="thumbnail">
          <img id="furni-image" alt="" />
        </a>
      </div>

      <!-- /.col (right) -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>

<%- include('footer')%>
